:root{
    --width-of-table: 300px
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
table{
    width: var(--width-of-table);
    border-collapse: collapse;
}
tr{
    height: 40px;
}
td{
    text-align: center;
    width: calc(var(--width-of-table) / 3);
}
thead{
    background-color: #add8e6;
    font-weight: 600;
}
tbody tr td:first-child{
    background-color: #add8e6;
    font-weight: 600;
}
tbody tr:nth-child(odd) {
    background-color: #fff; /* Цвет для нечетных строк */
}

tbody tr:nth-child(even) {
    background-color: #e9e9e9; /* Цвет для четных строк */
}