*{
    margin: 0;
    box-sizing: border-box;
}
table{
    width: 500px;
}
tr{
    height: 40px;
}
thead{
    background-color: rgb(139, 207, 255);
}
tbody tr td:first-child{
    background-color: rgb(139, 207, 255);
}