h1{
    text-align: center;
}
p {
    margin: 10px auto;
    font-size: 18px;
    line-height: 1.6;

    /* Маска с вертикальным градиентом */
    mask-image: linear-gradient(
    to bottom, 
    rgba(0,0,0, 1) 0%,    /* Начало перехода к прозрачности */
    rgba(0,0,0, 0) 100%   /* Полностью прозрачный внизу */
    );
    -webkit-mask-image: linear-gradient(
    to bottom, 
    rgba(0,0,0, 1),
    rgba(0,0,0, 0)
    );
}