*{
    border: 1px solid red;
    color: white;
}
body{
    margin: 16px !important;
}
header{
    padding: 30px;
    background-color: brown;
}
menu{
    padding: 15px 30px;
    background-color: brown;
}
#aside_1{
    height: 50px;
    width: 30%;
    padding: 30px;
    float: left;
}
#aside_2{
    height: 50px;
    width: 30%;
    padding: 30px;
    float: left;
}